* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  font-family: 'Poppins', sans-serif;

  
  background-color: #F5F1E8;

  
}


p {
  color: #555;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: #2F5D50;
}


.header-petshop {

  background-color: #2F5D50;

  padding: 15px 0;

 
  position: sticky;

  top: 0;

  z-index: 1000;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}


.logo-petshop {

  display: flex;

  align-items: center;

  gap: 12px;

  text-decoration: none;

}


.logo-petshop img {

  width: 50px;

}

.logo-petshop span {

  color: white;

  font-size: 1.5rem;

  font-weight: bold;

}


.nav-link {

  color: white;

  font-weight: 500;

  margin-left: 15px;

  
  transition: 0.3s;

}


.nav-link:hover {

  color: cadetblue;

  transform: translateY(-3px);

}


.active-link {

  color: black !important;

}


.btn-agendar {

  background-color: #097BB8;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 30px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;

}

.btn-agendar:hover {

  transform: scale(1.05);

}




.hero-petshop {

  padding: 100px 0;

}


.hero-texto h1 {

  font-size: 3.2rem;

  font-weight: bold;

  margin-bottom: 20px;

}


.hero-texto p {

  font-size: 1.1rem;

  margin-bottom: 30px;

}


.hero-beneficios {

  display: flex;

  gap: 15px;

  flex-wrap: wrap;

}


.hero-beneficios span {

  background-color: white;

  padding: 10px 18px;

  border-radius: 30px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

}


.hero-imagem img {

  width: 100%;

  max-width: 600px;

  border-radius: 30px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

}


/* SERVIÇOS */



.servicos {

  padding: 80px 10%;

  text-align: center;

}


.servicos h2 {

  font-size: 2.5rem;

  margin-bottom: 50px;

}


.cards-servicos {



  display: flex;

  justify-content: center;

  gap: 30px;

  flex-wrap: wrap;

}


.card-servico {

  width: 350px;

  background-color: white;

  border-radius: 25px;

  overflow: hidden;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  transition: 0.3s;

}


.card-servico:hover {

  transform: translateY(-3px);

}

.card-servico img {

  width: 100%;

  height: 220px;

  object-fit: cover;

}


.card-servico h3 {

  margin-top: 20px;

  font-size: 1.8rem;

}


.card-servico p {

  padding: 15px;

}

.card-servico a {
  color: white;
}

.card-servico button {

  background-color: #097BB8;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 12px;

  margin-bottom: 25px;

  cursor: pointer;

  transition: 0.3s;

}


.card-servico button:hover {

  transform: scale(1.05);

}


/* CARROSSEL */



.carrossel-petshop {

  padding-bottom: 60px;

}

.carousel-item {

  height: 600px;

  overflow: hidden;

  border-radius: 30px;

}


.imagem-carrossel {

  width: 80%;

  height: 500px;

  object-fit: cover;

  display: block;

  margin: auto;

  border-radius: 30px;

}


.carousel-caption {

  background-color: rgba(255, 255, 255, 0.95);

  padding: 30px;

  border-radius: 25px;

  max-width: 550px;

  margin: auto;

  bottom: 50px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

}


.carousel-caption h2 {

  font-size: 2rem;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {

  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 50%;

  padding: 20px;

}


/* FOOTER */



.footer-petshop {

  background-color: #2F5D50;

  padding: 40px 20px;

  text-align: center;

}


.footer-petshop h3 {

  color: white;

  font-size: 2rem;

  margin-bottom: 15px;

}


.footer-petshop p {

  color: #d9f5f6;

  margin-bottom: 20px;

}


.footer-contato {

  display: flex;

  justify-content: center;

  gap: 25px;

  flex-wrap: wrap;

  margin-bottom: 20px;

  color: white;

}


.footer-petshop small {

  color: #d9f5f6;

}


/* MODAL */

.modal-content {

  border-radius: 25px;

  border: none;

}


.modal-header {

  background-color: #2F5D50;

  color: white;

}


.modal-body {

  padding: 30px;

}

/* FORM */
.form-control,
.form-select {

  padding: 12px;

  border-radius: 12px;

}

/* MODAL FOOTER */
.modal-footer {

  border-top: none;

}


.btn-modal {

  background-color: #097BB8;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}


.btn-modal:hover {

  transform: scale(1.02);

}



/* PETS */



.hero-pets {

  padding: 80px 0;

}


.hero-pets-texto {

  text-align: center;

}


.hero-pets-texto h1 {

  font-size: 3rem;

  margin-bottom: 20px;

}


.hero-pets-texto h2 {

  color: #555;

}

.card-pet {

  background-color: white;

  border-radius: 25px;

  padding: 20px;

  text-align: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  transition: 0.3s;

}

.card-pet:hover {

  transform: translateY(-3px);

}

.card-pet img {

  width: 100%;

  height: 280px;

  object-fit: cover;

  border-radius: 22px;

  margin-bottom: 20px;

}

.tags-pet {

  display: flex;

  justify-content: center;

  gap: 10px;

  flex-wrap: wrap;

  margin: 20px 0;

}

.tags-pet span {

  background-color: #FFE7D6;

  color: #23463C;

  padding: 8px 16px;

  border-radius: 30px;

  font-size: 0.9rem;

  font-weight: bold;

}

.btn-adotar {

  background-color: #097BB8;

  color: white;

  border: none;

  padding: 12px 30px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}

.btn-adotar:hover {

  background-color: #23463C;

  transform: scale(1.05);

}


/* PRODUTOS */
.pagina-produtos {

  padding: 80px 0;

}

.card-produto {

  background-color: white;

  border-radius: 25px;

  padding: 20px;

  text-align: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  transition: 0.3s;

  height: 100%;

}

.card-produto:hover {

  transform: translateY(-3px);

}

.card-produto img {

  width: 100%;

  height: 220px;

  object-fit: cover;

  border-radius: 20px;

  margin-bottom: 20px;

}

.badge-produto {

  background-color: #097BB8;

  color: white;

  padding: 8px 14px;

  border-radius: 30px;

  display: inline-block;

  font-size: 0.8rem;

  font-weight: bold;

  margin-bottom: 15px;

}

.avaliacao-produto {

  font-size: 1.1rem;

  margin-bottom: 15px;

}

.btn-comprar {

  margin: 15px;

  background-color: #097BB8;

  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}


/* SERVIÇOS */

.banner-servicos {

  text-align: center;

  padding: 80px 20px;

}

.banner-servicos h1 {
  margin: 2rem;

  font-size: 4.5rem;

  color: #2F5D50;

}

.banner-servicos h2 {

  font-size: 2rem;
  color: #555;
  margin-top: 200px;

}

.pagina-servicos {

  padding: 80px 0;

}

.card-servico-moderno {

  background-color: white;

  border-radius: 30px;



  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  transition: 0.4s;

  height: 100%;

}

.card-servico-moderno:hover {

  transform: translateY(-3px);

}

.card-servico-moderno img {

  width: 100%;

  height: 330px;

  object-fit: cover;

}


.conteudo-servico {

  padding: 25px;

  text-align: center;

}


.icone-servico {

  font-size: 2.5rem;

  margin-bottom: 15px;

}

.lista-servicos {

  list-style: none;

  padding: 0;

  margin-bottom: 20px;

}

.preco-servico {

  display: inline-block;

  background-color: #FFE7D6;

  color: #097BB8;

  padding: 10px 18px;

  border-radius: 30px;

  font-weight: bold;

  margin-bottom: 20px;

}

.btn-servico {

  background-color: #097BB8;

  color: white;

  border: none;

  padding: 12px 28px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;

}

.btn-servico:hover {

  background-color: #23463C;

  transform: scale(1.05);

}



@media(max-width:768px) {

  .hero-petshop {

    text-align: center;

    padding: 70px 20px;

  }

  .hero-texto h1 {

    font-size: 2.3rem;

  }

  .hero-beneficios {

    justify-content: center;

  }

  .hero-imagem {

    margin-top: 40px;

  }

  .cards-servicos {

    flex-direction: column;

    align-items: center;

  }

  .carousel-item {

    height: auto;

  }

  .imagem-carrossel {

    width: 100%;

    height: 300px;

  }

  .carousel-caption {

    position: static;

    margin-top: 20px;

  }

  .hero-pets-texto h1,
  .banner-servicos h1 {

    font-size: 3.2rem;

  }

}